* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
}
body {
    background-color: rgb(92, 236, 63);
    display: flex;

    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.txt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
    background-color: aqua;
    width: 600px;
    background-color: rgb(128, 243, 117);
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

div {
    justify-content: center;
    gap: 5px;
}

.form {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.6);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
}



.form.active {
    display: grid;
    height: 100vh;
    width: 100%;
}

form {
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 1;
}

.form2 {
    position: fixed;
    background: rgb(128, 243, 117);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    z-index: 0;
}

button {
    height: 30px;
    background-color: aqua;
    border-style: none;
    margin: 2px;
}

.remove {
    background-color: red;
    color: white;
    font-size: 17px;
}



.headForm {
    color: white;
    display: grid;
    justify-content: center;
}

.txt {
    padding-left: 10px;
    display: grid;
}

h1 {
    font-size: 40px;
}

::placeholder {
    text-align: center; 
 }

 input {
    text-align: center;
    height: 40px;
    background-color: aquamarine;
  }

  .readDiv {
    display: flex;
    background-color: aquamarine;
    border-style: solid;
    justify-content: center;
    align-items: center;
  }

  div {
    text-align: center;
  }

  .activeBtn {
    background-color: greenyellow;
  }

  .NotActiveBtn {
    background-color: blueviolet;
  }

